nav(class="navbar")
            div(class="navbar-wrap")
                a(href="#" class="navbar-brand") WinkedIn
                ul(class="navbar-nav")
                    li(class="nav-item")
                        a(class="nav-link" href="#") Matches 
                    li(class="nav-item")
                        a(class="nav-link" href="#") Dating
                    li(class="nav-item")
                        a(class="nav-link" href="#") About 