nav(class="navbar")
            div(class="navbar-wrap")
                img(src="img/logo.svg" class="navbar-brand")
                ul(class="navbar-nav")
                    li(class="nav-item")
                        a(class="nav-link" href="/zoeken") Zoeken 
                    li(class="nav-item")
                        a(class="nav-link" href="/matches") Matches
                    li(class="nav-item")
                        a(class="nav-link" href="/about") About 
                    li(class="nav-item")
                        a(class="nav-link" href="/profiel") Profiel
                    li(class="nav-item")
                        form(action="/logout" method="POST")
                            button(class="nav-link") Logout
                    