html(lang="en")
    include partials/head.pug
    body
        include partials/navbar.pug
        main(class="main-background body-index")
            section
                h1 Welkom op FoodLove, zoek nu naar matches of bekijk je profiel!
                .container-index
                    a(href="/profiel")
                        p Bekijk profiel
                    a(href="/search")
                        p Zoek naar matches
        include partials/tags.pug
        
