html(lang="en")
    include partials/head.pug
    body
        include partials/navbar.pug
        main(class="main-background")
            img(src=`${weather}`)
            section
                - let i = 0;
                while i < 9
                    div
                        img(src="https://dummyimage.com/100x100/13eddb/fff" alt="100x100")
                        - i++;
        include partials/tags.pug
        
