html(lang="en")
    include partials/head.pug
    body
        include partials/navbar.pug
        main(class="main-background")
            section
                div
                    img(src="https://dummyimage.com/100x100/13eddb/fff" alt="100x100")
                div
                    img(src="https://dummyimage.com/100x100/13eddb/fff" alt="100x100")
                div
                    img(src="https://dummyimage.com/100x100/13eddb/fff" alt="100x100")
                div
                    img(src="https://dummyimage.com/100x100/13eddb/fff" alt="100x100")
                div
                    img(src="https://dummyimage.com/100x100/13eddb/fff" alt="100x100")
                div
                    img(src="https://dummyimage.com/100x100/13eddb/fff" alt="100x100")
                div
                    img(src="https://dummyimage.com/100x100/13eddb/fff" alt="100x100")
                div
                    img(src="https://dummyimage.com/100x100/13eddb/fff" alt="100x100")
                div
                    img(src="https://dummyimage.com/100x100/13eddb/fff" alt="100x100")
        include partials/tags.pug
