html(lang="en")
    include partials/head.pug
    body
        include partials/navbar.pug
        main(class="main-background body-index")
            section
                h1 Welcome to FoodLove, search for matches or look at your profile!
                .container-index
                    a(href="/profiel")
                        p See profile
                    a(href="/search")
                        p Search for matches
        include partials/tags.pug
        
