html(lang="en")
    include partials/head.pug
    body
        include partials/navbar.pug
        main(class="main-background body-matches")
            
                    if matchArray == undefined
                        section
                            h1 You have no matches yet, try searching for one
                            .container-search
                                a(href='search') 
                                    p Search
                    else
                        section.valid
                            h1 All your matches:
                            each i in matchArray
                                a(href=`/profiel/${i.matchId}`)
                                    article
                                        img(src=`${i.imgUrl}`)
                                        h2 #{i.naam}
        
        include partials/tags.pug
        
