html(lang="en")
    include partials/head.pug
    body(class="register-body-bg")
        main(class="login-main-bg")
            form(method="POST" action="/register")
                div
                    legend
                        img(src="img/logo.png")
                    label(for="email") E-mailadres
                    input(id="email" name="email" required="required" placeholder="naam@gmail.com")
                    label(for="firstName") Voornaam
                    input(id="firstName" name="firstName" required="required" placeholder=" ")
                    label(for="lastName") Achternaam
                    input(id="lastName"  name="lastName" required="required" placeholder=" ")
                    label(for="password") Wachtwoord
                    input(id="password" name="password" type="password" required="required" placeholder="••••")
                    label(for="confPassword") Wachtwoord bevestigen
                    input(id="confPassword" name="confPassword" type="password" required="required" placeholder="••••")
                    i(class="fas fa-check-circle")
                    button Registreer >
        include partials/tags.pug
        