html(lang="en")
    include partials/head.pug
    body(class="login-body-bg")
        main(class="splashpage-main-bg")
            div
                img(src="img/logo_wit.svg" class="splashpage-brand")
                div
                    a(class="splashpage-link" href="/register") Register
                    a(class="splashpage-link" href="login") Login
        include partials/tags.pug