html {
    margin: 0;
    padding: 0;
}

* {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

body {
    background-color: #e08b3e;
    margin: 0;
    padding: 0;
}
.splashpage-main-bg {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/foodlove_bg.png");
    opacity: 0.8;
     background-position: center;
     background-size: cover;
     background-color: black;
    margin: 0;
}
.splashpage-main-bg > div {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.splashpage-brand {
    margin-left: 4em;
    position: relative;
    height: 35vh;
    width: 40vw;  
    grid-row: 2;  
}
.splashpage-main-bg>div > div{
    grid-row: 3;
    grid-column: 2;
}

.splashpage-link {
    font-weight: bolder;
    text-decoration: none;
    padding: 1.5em 4em 1.5em 4em;
    background-color: #e08b3e;
    border: #e08b3e;
    border-radius: 2px;
    height: 20%;
    width: 30%;
    color: #FFF;
    transition: 300ms all;
    margin: 3em;
    
}

.splashpage-link:first-of-type {
    background-color: #e9bd88
}

.error {
    color: red;
    font-style: italic;
}
.navbar {
    padding: 1% 0% 0 0%;
    transition: all 400ms ease-out;
}

.navbar-wrap {
    margin: 0 8% 0 8%;
    background-color: #FFF;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px grey solid;
    box-shadow: 10px 10px 29px -10px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
    display: block;
    opacity: 1;
    height: 50px;
    width: 200px;
}

.navbar .nav-item a, .nav-item button {
    color: black;
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: none;
}
.nav-item:last-of-type form {
    display: inline-block;
}
.nav-item button {
    font-size: 1em;
    cursor:pointer;
}

.nav-item {
    font-size: 1.2em;
}

.nav-item:first-of-type::before {
    content: " ";
}

.nav-item::before {
    content: "|"
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-link {
    position: relative;
}

.scroll {
    background-color: #FFF;
    margin: 0;
    padding: 1% 2% 1% 2%;
    border-bottom: solid 1px lightgrey;
    transition: all 400ms ease-in;
}

.nav-link:hover {
    color: #e08b3e;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #e08b3e;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* .colorChangeBar:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.colorChangeBar:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
} */


main {
    margin: 0 8% 8% 8%;
    background-color: #FFF;
    padding-top: 8%;
    padding-bottom: 8%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 29px -10px rgba(0, 0, 0, 0.75);
}

.body-zoeken section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    justify-items: center;
    align-items: center;
}

.body-zoeken section > div {
    background-color: lightgrey;
    width: 100px;
    height: 100px;

}
.body-zoeken section > div:hover {
    cursor: pointer;
}
.show {
 transform: rotateY(0);
 background:  transparent;
 cursor: default;
 animation-name: flip;
 -webkit-backface-visibility: visible !important;
 backface-visibility: visible !important;
 animation-duration: 1s;
}

.body-zoeken main div > img {
    opacity: 0;
}
.body-zoeken main .show > img {
    opacity: 100;
}

@keyframes flip {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.login-body-bg {
    background-color: #e08b3e;
}
.login-main-bg {
    display: flex;
    justify-content: center;
}
.login-main-bg {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
        height: 100vh;
        width: 100vw;
        background-color: #e08b3e;
        display: flex;
        justify-content: center;
}
.login-main-bg form {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 400ms;
        padding: 0em 1em 1em 1em;
        background-color: #FFF;
        width: 40%;
        height: 60vh;
        border-radius: 25px;
}


.login-main-bg form > div {
    display: flex;
    flex-direction: column; 
        transition: all 400ms;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 1.5em;
    width: 75%;
}

.login-main-bg form input {
    padding: .75em;
    font-size: 0.75em;
    margin-bottom: 2em;
    transition: all 200ms;
}
.login-main-bg form input:valid {
   border: 1px solid #e08b3e;
}

.login-main-bg form legend {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.login-main-bg form legend img {
    width: 200px;
    height: 75px;
}

.login-main-bg form button {
    margin-top: 3em;
    align-self: flex-end;
    padding: 1em 2em 1em 2em;
    background-color: #e08b3e;
    border: #e08b3e;
    border-radius: 2px;
    opacity: 0.8;
    width: 35%;
    color: #FFF;
    transition: 300ms all;
}

.login-main-bg form button:hover {
    cursor: pointer;
    transition: 300ms all;
    opacity: 0.5;
}
.register-body-bg {
    background-color: #e08b3e;
}
.register-body-bg form {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 400ms;
    padding: 0em 1em 1em 1em;
    background-color: #FFF;
    width: 40%;
    height: 90vh;
    border-radius: 25px;
    margin-bottom: 2.5em;
}


.body-profiel section {
    display: grid;
     grid-template-rows: 1fr 30vh;
     grid-template-columns: 40% 1fr;
     grid-column-gap: 2.5em;
     grid-row-gap: 2.5em;
     justify-items: center;
     align-items: center;
}

.body-profiel section img {
    grid-column: 1;
    height: 250px;
    width: 250px;
    border-radius: 999px;
}

.body-profiel section article {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #e6ceb0; 
    padding: 1.5em;
    margin-right: 1.5em;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.body-profiel section article p:first-of-type{
    margin-top: 2%;
}

.body-profiel section article p {
    margin-top: 1%;
}

.body-profiel form {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 400ms;
    padding: 0em 1em 1em 1em;
    background-color: #FFF;
    width: 100%;
    height: 20vh;
    border-radius: 25px;
    margin-bottom: 2.5em;
}


.body-profiel form button {
    margin-top: 3em;
    padding: 1em 2em 1em 2em;
    background-color: #e08b3e;
    border: #e08b3e;
    border-radius: 2px;
    opacity: 0.8;
    width: 50%;
    color: #FFF;
    transition: 300ms all;
}

.body-profiel form button:hover {
    cursor: pointer;
    transition: 300ms all;
    opacity: 0.5;
}
.body-profiel form:last-of-type {
    grid-column: 2;
    padding-right: 0;
    margin-right: 2em; 
    margin-top: 2.5em;
    grid-row: 2;
}

.body-profiel form:last-of-type button{
    background-color: lightcoral;
}